<template name="UsersList">
	{{#if currentUser}}
	<span class="usersListTitle">{{usersOnlineCount}} people online</span>
	<div class="usersList">
		<div class="users">
		{{#each usersOnline}}
			<div>
				<div class="dot-notifs" id="n-{{id roles}}"></div>
				<button class="btn users-item btn-user" id="{{id roles}}">
					{{#if isWM this.roles}}
						<img src="/PlayerInfo/Water_Manager_crown.svg" alt={{cap}} class="chat-wm">
					{{/if}}
					{{name roles}}
				</button>
			</div>
		{{/each}}
		</div>
		<span class="channelsListTitle">Channels</span>
		<div class="channels">
			<div class="dot-notifs" id="n-9"></div><button type="button" class="btn users-item btn-user" id="9">Global Chat</button>
			{{#each channelsList}}
				<div class="dot-notifs" id="n-{{this._id}}"></div><button class="btn btn-chat-channel btn-user users-item" id="{{this._id}}">{{this.name}}</button>
			{{/each}}
		</div>		
		<button type="button" class="btn btn-chat-newChannel">New Channel</button>
	</div>	
	{{/if}}
</template>

