<template name="Credits">
	<!-- Trigger the modal with a button 
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#creditsModal">Credits</button>-->
	

	<!-- Modal -->
	<div id="creditsModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"  style="max-height: 80vh;">

				<!-- Modal Header -->
				<div class="modal-header">
					<div class="modal-title">Credits</div>
					<div class="channel-header">
						
					</div>
					<button type="button" class="btn close-chatmodal" data-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div style="margin-left: 0px; text-align: center;">
								<div class="col-12 credits-page">
									<p>Water Matters - An irrigation game</p>
									<p>Funded by Gembloux Agro-Bio Tech.</p>
									<p>With support from Global Minds at <span class="blue">KU Leuven</span> with the Belgian Development cooperation through the Flemish university council, university development cooperation (<span class="blue">VLIR-UOS</span>).</p>
									<p>Developed by <span class="blue">Hellion Cat</span>.</p>
									<p>Development of the first digital version of Water Matters: <span class="blue">ULiège</span>, <span class="blue">Gembloux Agro-Bio Tech</span>, Simon Ridley and Sarah Garré.</p>
									<p>Adapted from the Irrigation Management Game, a role playing group exercise developed by Dr Martin Burton and Professor Ian Carruthers with financial assistance from Sir M. MacDonald and Partners.</p>
								</div>
								<div class="col-12" style="text-align: center">
									<div style="margin: 0 auto;">
										<img src="Logo/CBD_logo_EN_RGB.jpg" class="credits-page-img">
										<img src="Logo/gembloux_agrobiotech_logo_rvb_pos.png" class="credits-page-img">
										<img src="Logo/KULeuven.jpg" class="credits-page-img">
										<img src="Logo/VLIR-UOS logo transparant_20 jaar_ENG.jpg" class="credits-page-img">
										<img src="Logo/Hellioncat.png" class="credits-page-img">
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
	
</template>