<template name="Field">

    <!--<article class="field {{#if $eq cropNameText 'Dead'}}fieldDead{{else}}fieldNormal{{/if}} ">-->
    <article class="field">
              <!-- //images
              ///////////////// -->
                
                <img src="/Village/Crop_village_blue.png" class="fieldBg">
                
            <div class="field-text">
              
              <!-- //Name of the crop
              //////////////////// -->
                  <div class="field-title">{{cropNameText}}</div>
                  <div class="cropField">
                    
                    {{#if cropRice}}
                      <img src="/Village/{{#if $eq this.supplyCategory 'D'}}Crop_Rice_black.svg{{/if}}{{#if $eq this.supplyCategory 'P'}}Crop_Rice_red.svg{{/if}}{{#if $eq this.supplyCategory 'M'}}Crop_Rice_orange.svg{{/if}}{{#if $eq this.supplyCategory 'G'}}Crop_Rice_green.svg{{/if}}" alt={{this.crop}} class="cropImage">
                    {{else}}
                      {{#if cropMaize}}
                      
                        <img src="/Village/{{#if $eq this.supplyCategory 'D'}}Crop_corn_black.svg{{/if}}{{#if $eq this.supplyCategory 'P'}}Crop_corn_red.svg{{/if}}{{#if $eq this.supplyCategory 'M'}}Crop_corn_orange.svg{{/if}}{{#if $eq this.supplyCategory 'G'}}Crop_corn_green.svg{{/if}}" alt={{this.crop}} class="cropImage">
                      {{else}}
                        {{#if cropSoybean}}
                        
                          <img src="/Village/{{#if $eq this.supplyCategory 'D'}}Crop_beans_black.svg{{/if}}{{#if $eq this.supplyCategory 'P'}}Crop_beans_red.svg{{/if}}{{#if $eq this.supplyCategory 'M'}}Crop_beans_orange.svg{{/if}}{{#if $eq this.supplyCategory 'G'}}Crop_beans_green.svg{{/if}}" alt={{this.crop}} class="cropImage">
                        {{else}}
                        
                          <img src="/Village/{{#if $eq this.supplyCategory 'D'}}Crop_fallow_black.svg{{/if}}{{#if $eq this.supplyCategory 'P'}}Crop_fallow_red.svg{{/if}}{{#if $eq this.supplyCategory 'M'}}Crop_fallow_orange.svg{{/if}}{{#if $eq this.supplyCategory 'G'}}Crop_fallow_green.svg{{/if}}" alt={{this.crop}} class="cropImage">
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  </div>

              <!-- //FEF of the field
              /////////////////// -->
              <div class="cropInfo"><span>FEF = </span>{{this.fef}}</div>

              <!-- //Supply of the field during irrigation
              ////////////////////////////////////////// -->
              <!-- //Potential yield / Expected yield / final yield
              //////////////////////////////////////////////// -->
                {{#if isStageZero}}
                  <div class="yield cropInfo" title='potential yield'><span>Pot. Yield = </span>{{this.yield}}</div>
                  <div class="yield cropInfo" title='Potential yield'><span>Pot. Gain = </span>{{potentialRevenue}} </div>
                {{else}}
                  {{#if isStageFour}}
                    <div class="yield cropInfo" title='final yield'><span>Final Yield = </span>{{this.yield}}</div>
                    <div class="yield cropInfo" title='final yield'><span>Gain = </span>{{potentialRevenue}}</div>
                  {{else}}
                    <div class="waterSupply cropInfo" style="{{#if fitToField}}font-size:0.9em;{{/if}}"><span>Water Supply = </span>{{this.supply}}</div>
                    <div class="yield cropInfo" title='expected yield'><span>Exp. Yield = </span>{{this.yield}}</div>
                    <div class="yield cropInfo" title='Potential yield'><span>Pot. Gain = </span>{{potentialRevenue}} </div>
                  {{/if}}
                {{/if}}
            

              <!-- //Link toward the graph-yield if not fallow
              ///////////////////////////////////////////////////// -->
                {{#if $eq this.crop 'fallow'}}
                {{else}}
                  <div class="btn yield-graph yield-graph-btn" data-toggle="modal" data-target="#yieldGraph">
                    Yield Graph
                  </div>
                {{/if}}
            </div>
    </article>
</template>
